.App {
  text-align: center;
 margin: auto;
 background-image: linear-gradient(
  rgb(96, 149, 173),
  rgb(243, 128, 199)
 );
}




.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  font-size: 40px;
  font-weight: bolder;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-shadow: 4px 4px 6px rgb(77, 241, 241);
}



.bothComponents{
 
  display: flex;


 
}

