/* .App{
  height: 200vh;
  margin-top: -40px; */
  /* width: 100vw; */
  /* background-position:cover;
     background-image: linear-gradient(
         rgb(68, 179, 243),
         rgb(238, 146, 174),
         rgb(241, 200, 212),
         red
          */
     /* ); */
     /* background-size: contain; */
 /* } */
 .header{
   text-align: center;
   font-size: 40px;
   font-family: 'Roboto', sans-serif;
 
 }
 #class{
   text-align: center;
 }
 
 